.category {
    list-style: none;
    margin: 0;
}

.category li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px 20px 0;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.active {
    font-weight: bold;
}

.noData {
    font-size: xx-large;
    margin-top: 300px;
}

@media (max-width: 680px) {
  .category {
    position: absolute;
    display: none;
    grid-gap: 6px; 
    padding: 0;
    width: 30%;
    top: 70px;
    right: 5px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, .1, 0.2);
  }

  .category svg {
    display: none;
  }
  
  .category li {
    margin: 0;
    display: flex;
    justify-content: end;
  }

  .category.toggle {
    display: grid;
  }
}