.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    grid-gap: 20px; 
}

.noData {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
}
@media (max-width: 728px) {
  .container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
      grid-gap: 20px; 
  }
}